<h2>My profile</h2>
<% if @current_user.username.present? && @current_user.avatar.present? %>
<p> My username: <%= @current_user.username %></p>
<p> My avatar: <%= image_tag @current_user.avatar %></p>
<%= link_to "Edit profile", edit_user_path(@current_user) %>
<% else %>
<p> You don't have a username or avatar, click "Complete profile" to create one!<p> 
<%= link_to "Complete profile", edit_user_path(@current_user) %>
<% end %>


<h2>My Bookmarks</h2>
<% @my_bookmarks.each do |bookmark|%>
    <p><%= bookmark.theme.title %></p>
    <p> created on <%= bookmark.theme.date %></p>

    <% if bookmark.theme.get_bookmark_of_user(current_user) %>
    <%= link_to "unbookmark", theme_bookmark_path(bookmark.theme, bookmark.theme.get_bookmark_of_user(current_user)), method: :delete, :query => "dashboard" %>  
  <% end %>

  <% end %>

<h2>My threads</h2>
<% @my_themes.each do |theme|%>
    <p><%= theme.title %></p>
    <p> created on <%= theme.date %></p>
    <%= link_to "Go to threads", topic_themes_path(theme.topic, theme) %>
    <%= link_to "Edit", edit_topic_theme_path(theme.topic, theme) %>
    <%= link_to "Delete",
        topic_theme_path(theme.topic, theme),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>

<h2>My comments</h2>
<% @my_comments.each do |comment|%>
    <p><%= comment.content %></p>
    <p> created on <%= comment.date %></p>
    <%= link_to "Go to comments", topic_theme_path(comment.theme.topic, comment.theme) %>
    <%= link_to "Edit", edit_theme_comment_path(comment.theme.topic, comment.theme) %>
     <%= link_to "Delete",
        topic_theme_path(comment.theme.topic, comment.theme),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>
