<h2>My profile</h2>
<% if @current_user.username.present? && @current_user.avatar.present? %>
<p> My username: <%= @current_user.username %></p>
<p> My avatar: <%= image_tag @current_user.avatar %></p>
<%= link_to "Edit profile", edit_user_path(@current_user) %>
<% else %>
<p> You don't have a username or avatar, click "Complete profile" to create one!<p> 
<%= link_to "Complete profile", edit_user_path(@current_user) %>
<% end %>


<h2>My follows<h2>

<h2>My threads</h2>
<% @my_themes.each do |theme|%>
    <p><%= theme.title %></p>
    <p> created on <%= theme.date %></p>
    <%= link_to "Edit", edit_topic_theme_path(theme.topic, theme) %>
    <%= link_to "Delete",
        topic_theme_path(theme.topic, theme),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>

<h2>My comments</h2>
<% @my_comments.each do |comment|%>
    <p><%= comment.content %></p>
    <p> created on <%= comment.date %></p>
<% end %>
