 <% @themes.each do |theme| %>
    <div data-type='<%=theme.title%>' class="theme-card">
      <div><%= theme.title %></div>
      <br>
      <div class="d-flex justify-content-between">
      <% if theme.user.username.present?%>
      <div> 
        <% if theme.user.photo.attached? %>
        <%= cl_image_tag theme.user.photo.key, width: 40, height: 40, crop: :pad, class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        by <%= theme.user.username %> 
      </div>
      <% else %>
      <div> by <%= theme.user.email %> </div>
      <% end %>
      <div><%= theme.date %></div>
      </div>
      <br>

      <div id="theme-likes-<%= theme.id%>">
        <%= render "likes", theme: theme %>
      </div>

      <div class="d-flex justify-content-between">
        <div class="replies-theme"> <%= link_to "See comments", topic_theme_path(@topic,theme) %>  (  <%= theme.comments.count %> )  </div>
        <div id="theme-bookmarks-<%= theme.id%>">
          <%= render "bookmarks", theme: theme %>
        </div>
        </div>

    </div>
  <% end %>