 <% @themes.each do |theme| %>
    <div data-type='<%=theme.title%>' class="theme-card">
      <div><%= theme.title %></div>
      <br>
      <div class="d-flex justify-content-between">
      <% if theme.user.username.present?%>
      <div> 
        <% if theme.user.photo.attached? %>
        <%= cl_image_tag theme.user.photo.key, width: 40, height: 40, crop: :pad, class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        by <%= theme.user.username %> 
      </div>
      <% else %>
      <div> by <%= theme.user.email %> </div>
      <% end %>
      <div><%= theme.date %></div>
      </div>
      <br>
      <div>
        <%= theme.themeupvotes.count %>
        <% if theme.get_themeupvote_of_user(current_user) %>
          <%= link_to themeupvote_path(theme.get_themeupvote_of_user(current_user)), method: :delete do %>
            <i  id="heart-like" class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to theme_themeupvotes_path(theme), method: :post do %>
          <i id="heart-like" class="far fa-heart"></i>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex justify-content-between">
        <div class="replies-theme"> <%= link_to "See comments", topic_theme_path(@topic,theme) %>  (  <%= theme.comments.count %> )  </div>
        <div>
          <% if theme.get_bookmark_of_user(current_user) %>
          <%= link_to theme_bookmark_path(theme, theme.get_bookmark_of_user(current_user)), method: :delete do %>
          <i id="heart-like" class="fas fa-bookmark"></i>
          <% end %>

          <% else %>
            <%= link_to theme_bookmarks_path(theme), method: :post  do %>
            <i id="heart-like"class="far fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        </div>

    </div>
  <% end %>