<div>
      Filter by: 
      </div>
      <div class="d-flex justify-content-between">
        <div class="row">
          <%= link_to "Show all comments", topic_theme_path(reset: true), class: "btn btn-outline-secondary" %>
          <%= link_to "Top liked", topic_theme_path(filter: 'Likes'), class: "btn btn-outline-secondary #{'btn-outline-warning' if session[:filter] == 'Likes'}", remote:true %>
        </div>
      <div class="dropdown">
        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if session[:period] %>
            <%= session[:period] %>
          <% else %>
            Time
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Today", topic_theme_path(period: 'today'), remote:true, class:"dropdown-item" %>
          <%= link_to "This week", topic_theme_path(period: 'week'), remote:true, class:"dropdown-item" %>
          <%= link_to "This month", topic_theme_path(period: 'month'), remote:true, class:"dropdown-item" %>
          <%= link_to "This year", topic_theme_path(period: 'year'), remote:true, class:"dropdown-item" %>
        </div>
      </div>
    </div>
    