<% @comments.each do |comment| %>
      <div data-type= '<%= comment.content%>' class="theme-card-show">
        <div>
          <%= comment.content%>
        </div>
        <br>
        <div class="d-flex justify-content-between">
          <div>
            <% if comment.user.photo.attached? %>
              <%= cl_image_tag comment.user.photo.key, width: 40, height: 40, crop: :pad, class: "avatar dropdown-toggle", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>  
            <% end %>
            by <%= comment.user.username %>
          </div>
          <div>
            <%= comment.date %>
          </div>
        </div>
        <br>
        <div id="comment-likes-<%= comment.id %>">
           <%= render "showlikes", comment: comment %> 
        </div>
      </div>
  <% end %>