<div class="container .col-xs-">
<div class="container">
  <h1> <%= @topic.category %> </h1>



    <div class="text-center" id="search-card" style="display: none">
          <%# <div class="container"> %>
          <%= form_tag searches_path, method: :get, class: 'd-flex' do %>
            <%= text_field_tag :query, params[:query], placeholder:"Search anything here", class: 'search-input'  %><%= button_tag type: 'submit', id: "search-glass", class: 'btn btn-transparent' do %><i class="fas fa-search" style="align-self: center" aria-hidden="true"></i><% end %>
          <% end %>
          <%# </div> %>


        </div>


    <div class="btn-blocs" id="filters">
      <%= render "filters" %>
    </div>

     <div class="link-deco"> <strong>Create new thread</strong> <%= link_to new_topic_theme_path do %>
      <i class="fas fa-plus-circle"></i>

      <% end %>
       </div>

  <div class="d-flex justify-content-between">

    <div class="btn btn-warning btn-danger-text shadow-sm" id="link-color"> << back to <%= link_to "Forum", topics_path %> </div>

  </div>

  <%# <div class="filters">
      <button type="button" id="type-filter" class="btn-flat">What's hot?</button>
  </div> %>

  <%# <div class="card text-center" id="type-card" style="display: none">
      <br>


      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1" id="defaultText1">Lisbon</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2" id="defaultText2">COVID-19</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3" id="defaultText3">SEF</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
          <label class="form-check-label" for="defaultCheck4" id="defaultText4">Ilegal</label>
      </div>

      <br>

      <div>
      <button type="button" id="save-type" class="btn btn-dark">Save</button>
      </div>

      <br>

  </div> %>


  <div id="themes">

    <%= render "listing" %>

  </div>

  <div class="d-flex justify-content-between">

    <div class="btn btn-warning btn-danger-text shadow-sm" id="link-color"> <%= link_to " << back to Forum", topics_path %> </div>

  </div>
   <div>
    <%= paginate @themes %>
   </div>
  </div>

 </div>
</div>
</div>
