<h1> <%= @topic.category %> </h1>


<div class="d-flex justify-content-between">
<div class="btn-flat-inv"> <%= link_to "back to topics", topics_path %> </div>
<p> <%= link_to "Create a new thread", new_topic_theme_path %> </p>
</div>




<div class="form-inline d-flex" style="width:100%">
    <%= form_tag topic_themes_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder:"keyword", class: 'search-input pr-0 mr-0', style: "width:50%"%><%= submit_tag 'search', class: 'search-btn'%>
    <% end %>
</div>


<div class="d-flex justify-content-between">
<div> <%= link_to "Show all threads", topic_themes_path(reset: true) %> </div>

 <%= link_to "Most liked", topic_themes_path(filter: 'likes'), class: "btn btn-primary" %>
 <%= link_to "Most commented", topic_themes_path(filter: 'comments'), class: "btn btn-primary" %>
 <%= link_to "Today", topic_themes_path(period: 'today'), class: "btn btn-primary" %>
 <%= link_to "This week", topic_themes_path(period: 'week'), class: "btn btn-primary" %>
 <%= link_to "This month", topic_themes_path(period: 'month'), class: "btn btn-primary" %>
 <%= link_to "This year", topic_themes_path(period: 'year'), class: "btn btn-primary" %>
 <%= link_to "All time", topic_themes_path(period: 'all'), class: "btn btn-primary" %>

<%# <div class="filters">
    <button type="button" id="type-filter" class="btn-flat">What's hot?</button>
</div> %>
</div>

<%# <div class="card text-center" id="type-card" style="display: none">

    <br>


    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1" id="defaultText1">Lisbon</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2" id="defaultText2">COVID-19</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3" id="defaultText3">SEF</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
        <label class="form-check-label" for="defaultCheck4" id="defaultText4">Ilegal</label>
    </div>

    <br>

    <div>
    <button type="button" id="save-type" class="btn btn-dark">Save</button>
    </div>

    <br>

</div> %>

<h3> Threads in <%= @topic.category %> </h3>

<% @themes.each do |theme| %>
    <div data-type='<%=theme.title%>' class="theme-card">
        <div><%= theme.title %></div>
        <% if theme.user.username.present?%>
        <div>by <%= theme.user.username %></div>
        <% else %>
        <div>by <%= theme.user.email %></div>
        <% end %>
        <div><%= theme.date %></div>

      <div class="d-flex justify-content-between">
         <div><%= theme.themeupvotes.count %> likes </div>
         <div><%= theme.comments.count %> comments </div>
      </div>
      <div class="d-flex justify-content-between">
        <% if theme.get_themeupvote_of_user(current_user) %>
         <%= link_to "dislike", themeupvote_path(theme.get_themeupvote_of_user(current_user)), method: :delete %>
        <% else %>
         <%= link_to "like", theme_themeupvotes_path(theme), method: :post %>
        <% end %>

        <% if theme.get_bookmark_of_user(current_user) %>
         <%= link_to "unbookmark", theme_bookmark_path(theme, theme.get_bookmark_of_user(current_user)), method: :delete %>
        <% else %>
         <%= link_to "bookmark", theme_bookmarks_path(theme), method: :post %>
        <% end %>
      </div>
      <div> <%= link_to "See comments", topic_theme_path(@topic,theme) %> </div>
    </div>
<% end %>
<div class="container">
  <div class="row">
  <%= paginate @themes %>
</div>


