<div class="container">
  <h1> <%= @topic.category %> </h1>


    <div class="form-inline d-flex">
      <div><%= form_tag topic_themes_path, method: :get do %> </div>
      <div class="search-box"> <%= text_field_tag :query, params[:query], placeholder:"keyword", class: 'search-input pr-0 mr-0', style: "width:60%"%>
        <%= submit_tag 'search', class: 'search-btn'%> </div>
        <% end %>
    </div>


    <div class="btn-blocs">
      <div class="d-flex justify-content-between">
        <div class="row" data-no-turbolink-eval='false'>
            <%= link_to "Show all threads", topic_themes_path(reset: true),method: :get, class: "btn btn-outline-secondary"%>
            <%= link_to "Most liked", topic_themes_path(filter: 'likes'),method: :get, id: 'likes', class: "btn btn-outline-secondary"%>
            <%= link_to "Most commented", topic_themes_path(filter: 'comments'),method: :get, id: 'comments', class: "btn btn-outline-secondary"%>
            <%= link_to "Today", topic_themes_path(period: 'today'),method: :get, class: "btn btn-outline-secondary"%>
            <%= link_to "This week", topic_themes_path(period: 'week'),method: :get, class: "btn btn-outline-secondary"%>
            <%= link_to "This month", topic_themes_path(period: 'month'),method: :get, class: "btn btn-outline-secondary"%>
            <%= link_to "This year", topic_themes_path(period: 'year'),method: :get, class: "btn btn-outline-secondary"%>
            <!--  <%#= link_to "All time", topic_themes_path(period: 'all'), class: "btn btn-outline-secondary"%> -->
        </div>
      </div>
      <% if session[:filter] || session[:period] %>
       <div> Filters selected: <%= session[:filter] %> <%= session[:period] %> </div>
      <% end %>
    </div>

  <div class="link-deco"> <%= link_to "Create a new thread ", new_topic_theme_path %> </div>

  <%# <div class="filters">
      <button type="button" id="type-filter" class="btn-flat">What's hot?</button>
  </div> %>

  <%# <div class="card text-center" id="type-card" style="display: none">


      <br>


      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1" id="defaultText1">Lisbon</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2" id="defaultText2">COVID-19</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3" id="defaultText3">SEF</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
          <label class="form-check-label" for="defaultCheck4" id="defaultText4">Ilegal</label>
      </div>

      <br>

      <div>
      <button type="button" id="save-type" class="btn btn-dark">Save</button>
      </div>

      <br>

  </div> %>


  <div id="themes">
  <% @themes.each do |theme| %>
      <div id="theme-<%= theme.id %>" data-type='<%=theme.title%>' class="theme-card">

          <div><%= theme.title %></div>
          <div class="d-flex justify-content-between">
          <% if theme.user.username.present?%>
          <div>by <%= theme.user.username %></div>
          <% else %>
          <div> by <%= theme.user.email %></div>
          <% end %>
          <div><%= theme.date %></div>
        </div>





        <div>
          <%= theme.themeupvotes.count %>
          <% if theme.get_themeupvote_of_user(current_user) %>
          <%= link_to themeupvote_path(theme.get_themeupvote_of_user(current_user)), method: :delete do %>
          <i  id="heart-like" class="fas fa-heart"></i>
            <% end %>

          <% else %>
          <%= link_to theme_themeupvotes_path(theme), method: :post do %>
          <i id="heart-like" class="far fa-heart"></i>
            <% end %>
          <% end %>

        </div>


      <div class="d-flex justify-content-between">
        <div class="replies-theme"> <%= link_to "See comments", topic_theme_path(@topic,theme) %>  (  <%= theme.comments.count %> )  </div>
        <div>
          <% if theme.get_bookmark_of_user(current_user) %>
          <%= link_to theme_bookmark_path(theme, theme.get_bookmark_of_user(current_user)), method: :delete do %>
          <i id="heart-like" class="fas fa-bookmark"></i>
          <% end %>

          <% else %>
            <%= link_to theme_bookmarks_path(theme), method: :post  do %>
            <i id="heart-like"class="far fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        </div>

    </div>
  <% end %>
  </div>

  <div class="d-flex justify-content-between">
    <div class="btn-flat-inv" id="link-color"> <%= link_to " << ", topics_path %> 
  </div>



  <div class="container">
    <div class="row">
      <%= paginate @themes %>
    </div>
  </div>
  </div>
</div>

