<div class="container .col-xs-">
<div class="container">
  <div class="theme_new">
      <%= simple_form_for([@topic, @theme]) do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :date, :as => :hidden, :input_html => { :value => Time.now } %>
      <%= f.submit class:"btn btn-warning"%>
    <% end %>
  </div>
 </div>
</div>
