<h1> <%= @theme.title %> </h1> 
<p> Go back to <%= link_to @theme.topic.category, topic_themes_path %> </p> 

<% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p>by <%= comment.theme.user.username %></p>
    <p><%= comment.date %></p>
    <% if comment.commentupvotes.present? %>
      <%= link_to "dislike", commentupvotes_path(comment: comment), method: :delete %> 
    <% else %>
      <%= link_to "like", commentupvotes_path(comment: comment), method: :post %> 
    <% end %>
    
    <p><%= comment.commentupvotes.count %></p>
<% end %>