<h1> <%= @theme.title %> </h1> 
<p> Go back to <%= link_to @theme.topic.category, topic_themes_path %> </p> 
<p> <%= link_to "Leave a comment", new_theme_comment_path(@theme) %> </p> 

<div class="form-inline d-flex" style="width:100%">
          <%= form_tag topic_theme_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder:"keyword", class: 'search-input pr-0 mr-0', style: "width:50%"%><%= submit_tag 'search', class: 'search-btn'%>
          <% end %>
        </div>

<p> <%= link_to "Show all comments", topic_theme_path %> </p> 

<% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p>by <%= comment.theme.user.username %></p>
    <p><%= comment.date %></p>
    
    <% if comment.get_commentupvote_of_user(current_user) %>
      <%= link_to "dislike", commentupvote_path(comment.get_commentupvote_of_user(current_user)), method: :delete %> 
    <% else %>
      <%= link_to "like", comment_commentupvotes_path(comment), method: :post %> 
    <% end %>
    
    <p><%= comment.commentupvotes.count %></p>
<% end %>