<h1> <%= @theme.title %> </h1>

<div class="d-flex justify-content-between">
<div class="btn-flat-inv"> Go back to <%= link_to @theme.topic.category, topic_themes_path %> </div>
<div> <%= link_to "Leave a comment", new_theme_comment_path(@theme) %> </div>
<div> <%= social_share_button_tag(@theme.title) %> </div>
</div>



<div class="form-inline d-flex" style="width:100%">
          <%= form_tag topic_theme_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder:"keyword", class: 'search-input pr-0 mr-0', style: "width:50%"%><%= submit_tag 'search', class: 'search-btn'%>
          <% end %>
        </div>

<p> <%= link_to "Show all comments", topic_theme_path %> </p>



<% @comments.each do |comment| %>
    <div data-type= '<%= comment.content%>' class="theme-card-show">
      <div class="d-flex justify-content-between">
      <%= comment.content%>
    <div>by <%= comment.user.username %></div>
    <div><%= comment.date %></div>
     </div>

    <% if comment.get_commentupvote_of_user(current_user) %>
      <%= link_to "dislike", commentupvote_path(comment.get_commentupvote_of_user(current_user)), method: :delete %>
    <% else %>
      <%= link_to "like", comment_commentupvotes_path(comment), method: :post %>
    <% end %>

    <p><%= comment.commentupvotes.count %></p>

  </div>

<% end %>


<div class="container">
  <div class="row">
  <%#= paginate @comments %>
</div>

