<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'favicon', type: 'image/png'%>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


    <link rel="alternate" hreflang="en" href="http://www.kaabo.network">
    <link rel="alternate" hreflang="zh" href="http://zh.kaabo.network">
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_1374fd170b7600f8d35fc15049aeeeb69'  // Multiple switchers
            ,switchers: [
              {
                // Same as button_style at root
                button_style: {
                  full_name: true,
                  with_name: true,
                  is_dropdown: false,
                  with_flags: true,
                  flag_type: "circle",
                  invert_flags: false
                },
                // Move switcher somewhere in the page
                location: {
                  target: ".translation-container",
                  sibling: null
                }
              }
            ]
                  });
    </script>
  </head>


  <body>

    <%= render 'shared/navbar' %>
        <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

   <div class="main-container">
     <%= yield %>
  </div>

   <div> <%= render 'shared/footer' %></div>

   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v8.0" nonce="HN1a7Gvg"></script>
  </body>


</html>
